.header_container {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    margin: 100px -60px 0 -60px;
    background-image: url(../assets/images/libedinsky-unsplash.jpg);
    background-position-y: top;
}
