html {
    margin: 0;
}

body {
    background: getColour(white);
}

main {
    padding: 30px;

    @media (min-width: $tablet-width) {
        max-width: 500px;
        margin: auto;
    }

    @media (min-width: $laptop-width) {
        max-width: none;
    }
}

.jumbotron {
    background: getColour(white);
    padding: 0;

    @media (min-width: $laptop-width) {
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin: auto;
    }

    .image-banner {
        max-width: 100%;
    }
}

.laptop-container,
.btn {
    @media (min-width: $laptop-width) {
        max-width: 500px;
        margin: auto;
    }
}

footer {
    text-align: center;
    margin-top: 100px;
}
