body,
nav {
    font-family: "Roboto", sans-serif;
}

main {
    font-size: 18px;
    line-height: 25px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.heading-skatt {
    margin-top: 80px;
}

.info-felt {
    font-size: 16px;
    margin-top: 50px;
}
